
:root{
    --fuente-principal: 'Spartan', sans-serif;
    --fuente-secundaria: 'Open Sans', sans-serif;
    --casi-negro: rgb(10, 1, 20);
    --violeta: rgba(154,67,240,1);
}


*{
    font-family: var(--fuente-secundaria);
    letter-spacing: .10em;
}

html{
    scroll-behavior: smooth;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.navbar-brand i{
    color: #fff;
    text-shadow:
    0 0 5px var(--violeta),
    0 0 10px var(--violeta);
}
#landing-main{
    background-color: var(--casi-negro);
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#landing-main h1{
    font-weight: bolder;
    font-size: 5em;
    font-family: var(--fuente-principal);
    
}
.typing {
    width: 29ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2em;
    margin-top: 50px;
    font-family: var(--fuente-secundaria);
  }

.fade-in{
    animation: FadeIn 7s;
}

@keyframes typing {
    from {
        opacity: 0;
        width: 0
    }
}

@keyframes blink {
    50% {
      border-color: transparent
    }
}

@keyframes FadeIn{
    from {
        opacity:0;
    }
    to{
        opacity: 1;
    }
}

#landing-button a i{
    color: #fff;
    text-shadow:
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 38px var(--violeta),
    0 0 78px var(--violeta),
    0 0 80px var(--violeta),
    0 0 81px var(--violeta); 
}

#landing-button a i:hover{
    color: #fff;
    text-shadow:
    0 0 5px #fff,
    0 0 7px #fff,
    0 0 38px var(--violeta),
    0 0 80px var(--violeta),
    0 0 95px var(--violeta),
    0 0 105px var(--violeta); 
}

.espaciador{
    height:5vh;
}

#sobre-mi{
    height: 100vh;
    background-image: url(/static/images/bg1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    align-items: center;
    justify-content: center;
}

#sobre-mi-inner{
    background-color: var(--casi-negro);
    height: 75vh;
    width: 75vw;
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px var(--violeta);

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "imagen bio";
    position: relative;
}

.sobre-mi-image{
    background-image: url(/static/images/yo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    grid-area: "imagen";
    height: 75vh;
}

.sobre-mi-bio{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    grid-area: "bio";
    height: 75vh;
}

.sobre-mi-bio h1{
    font-family: var(--fuente-principal);
    color: var(--violeta);
    font-size: 2em;
    border-bottom: 2px solid --violeta;
}
.sobre-mi-bio p{
    font-family: var(--fuente-secundaria);
    line-height: 1.6;
    max-width: 35ch;
    font-size: 1.6em;
}
.sobre-mi-bio button{
    max-width: 12ch;
    font-size: 1.6em;
}
.sobre-mi-bio i{

    font-size: 2em;
}